<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LAB108教研室管理系统</title>
    <link rel="stylesheet" type="text/css" href="../easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">

    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
</head>

<style>
    #login {
        position: absolute;
        width:400px;
        height:200px;
        left:50%;
        top:50%;
        margin-left:-200px;
        margin-top:-100px;
    }
</style>
<body>
<div id="login">
<div class="easyui-panel" title="请登录" style="padding:30px 60px;">
    <form id="ff" method="post">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="userName" style="width:100%"
                   data-options="label:'用户名:',required:true">
        </div>

        <div style="margin-bottom:20px">
            <input class="easyui-textbox" type="password" name="password" style="width:100%"
                   data-options="label:'密码:',required:true">
        </div>
    </form>

    <div style="text-align:center;padding:5px 0">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">Submit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">Clear</a>
    </div>
</div>
</div>
<script>
    function submitForm() {
        $('#ff').form('submit', {
            url:"/login",
            onSubmit: function(){
                // do some check
                // return false to prevent submit;
            },
            success:function(res){
                // 注意要先把json字符串转换为对象，然后才能使用.运算符
                var res = JSON.parse(res)
                if(res.success) {
                    transferToMainPage();
                } else {
                    alert(res.msg);
                }
            }
        });
    }

    function transferToMainPage() {
        var main = window.location.href + "main";
        window.location.href = main;
    }

    function clearForm(){
        $('#ff').form('clear');
    }
</script>
</body>
</html>